<div class="container">
    @if (id) {
        <h1>Modificar préstamo</h1>
    } @else {
        <h1>Crear préstamo</h1>
    }

    <form>
        <mat-form-field>
            <mat-label>Id</mat-label>
            <input type="text" matInput placeholder="Identificador" [(ngModel)]="id" name="id" disabled>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Juego</mat-label>
            <mat-select disableRipple [(ngModel)]="game" name="game" required>
                @for (game of games(); track game) {
                    <mat-option [value]="game">{{game.title}}</mat-option>
                }
            </mat-select>
            <mat-error>El título no puede estar vacío</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Cliente</mat-label>
            <mat-select disableRipple [(ngModel)]="customer" name="customer" required>
                @for (customer of customers(); track customer) {
                    <mat-option [value]="customer">{{customer.name}}</mat-option>
                }
            </mat-select>       
            <mat-error>El nombre no puede estar vacío</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Fecha préstamo</mat-label>
            <input 
                matInput 
                [matDatepicker]="pickerLoan" 
                [(ngModel)]="loanDate" name="loanDate">

            <mat-datepicker-toggle
                matSuffix
                [for]="pickerLoan">
            </mat-datepicker-toggle>
            <mat-datepicker #pickerLoan></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Fecha devolución</mat-label>
            <input 
                matInput 
                [matDatepicker]="pickerReturn" 
                [(ngModel)]="returnDate" name="returnDate">

            <mat-datepicker-toggle
                matSuffix
                [for]="pickerReturn">
            </mat-datepicker-toggle>
            <mat-datepicker #pickerReturn></mat-datepicker>
        </mat-form-field>
    </form>

    <div class="buttons">
        <button mat-stroked-button (click)="onClose()">Cerrar</button>
        <button mat-flat-button color="primary" (click)="onSave()">Guardar</button>
    </div>
</div>

